.box {
  width: auto;
  height: 800px;
}

.android {
  position: fixed;
  display: none; 
  transform: rotate(-20deg);
}

.apple {
  position: fixed;
  display: none;
  transform: rotate(20deg);

}

.linux {
  position: fixed;
  display: none;
  transform: rotate(20deg);
}

.freebsd {
  position: fixed;
  display: none;
  transform: rotate(-20deg);
}

.windows {
  position: fixed;
  display: none;

}

.ubuntu {
  position: fixed;
  display: none;
}

.background {
  background-image: url("page1.png");
  width: 20000px;
  height: 20000px;
  margin: auto;
  /*opacity: 0.6;*/
  filter: blur(2px);
  position: fixed;
  margin-top: -300px;
}

.welcome {
  position: fixed;
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 4px gray;
  color: #4df6ff;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 1;
  filter: url(#cracked)
  /*border: 1px solid white;*/
}

.btn button {
  position: fixed;
  margin-left: 410px;
  margin-top: 200px;
  background: #999;
  border: 3px solid #0ff;
  border-radius: 999px;
  box-shadow: 1px 0 0 0 #444;
  color: white;
  padding: 8px 26px;
  font: normal 700 50px 'Helvetica Neue', sans-serif;
  text-align: center;
  text-shadow: 2px 2px 0 #000;


}

.btn button:hover {
  background-color: darkgray;
  color: #0ff;
}

.home {
  /*background-image: url("computer4.jpg");*/
  margin: auto;
  width: 1370px;
  height: 800px;
  border: 1px solid black;
  background-color: black;
}
.home_img img {
  width: 50px;
  height: 60px;
  float: left;
  cursor: pointer;
  opacity: 0.5;
  margin: 0.1em;
}
.home_img img:hover {
  opacity: 1;
}
.title h2 {
  text-align: center;
  top: -45px;
  left: 450px;
  font-size: 3em;
  font-family: 'Helvetica Neue', sans-serif;
  position: relative;
  color: black;
  border: 1px solid black;
  border-radius: 0.5em;
  width: 500px;
  height: 70px;
  background-color: darkgray;
  color: white;
}
.title {
  width: auto;
  height: 35px;
  border-bottom: 2px solid white;
}
.score {
  /*border: 1px solid white;*/
  float: right;
  /*background-color: grey;*/
  top: -160px;
  left: -5px;
  font-family: 'Helvetica Neue', sans-serif;
  position: relative;
}
.score  tr, td {
  border: 1px solid black;
  border-radius: 0.5em;
  font-size: 1.3em;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: grey;
  color: white;

}


/*body{
  background-color:black;
}
  .mainConatiner{

  }
  .board{
    position: relative;
    width: 1000px;
    height: 800px;
    border: 1px solid black;
    margin: 0 auto;
    background-image: url("back3.jpg");
  }
  .gameBoard{
      position: relative;
      width: 500px;
      height: auto;

      background-color: rgba(0,0, 0, 0.5);
      margin: 0 auto;
  }
  .header{
    width: auto;
    height: 70px;
  }
  .cells{
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0,0, 0, 0.5);
    border: 1px solid rgba(50,50, 50, 0.5);
  }
  .cellsImg{
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;

  }
  .header{
    width: auto;
    height: 70px;
    background-color: rgba(50,50, 50, 0.5);
  }
  .sound{
    font-size: 2em;
    float: right;
  }*/


  body{
    background-color:black;
  }
    .mainConatiner{
      top: -700px;
      position: relative;
      width: auto;
      height: 500px;
    }
    .board{
      position: relative;
      width: 1000px;
      height: 800px;
      border: 1px solid black;
      margin: 0 auto;
      background-image: url("computer3.jpeg");
      background-size: 1000px 800px;
      background-repeat: no-repeat;
      /*border: 1px solid white;*/


    }
    .gameBoard{

        position: relative;
        width: 500px;
        height: auto;
        background-color: rgba(0,0, 0, 0.5);
        margin: 0 auto;
        left: 90px;
        bottom: 90px;

    }
    .header{
      width: auto;
      height: 70px;
      margin-bottom:90px;
    }
    .cells{
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      background-color: rgba(0,0, 0, 0.5);
      border: 1px solid rgba(50,50, 50, 0.5);
      transition:.1s;
      z-index: 3;
    }
    .cellsTodelete{
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      background-color: rgba(0,0, 0, 0.5);
      border: 1px solid rgba(50,50, 50, 0.5);
      z-index: 1;

    }
    .cellsImg{
      width: 40px;
      height: 40px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;

    }
    .header{
      width: auto;
      height: 70px;
      background-color: rgba(50,50, 50, 0.5);
    }
    .sound{
      font-size: 2em;
      float: right;
    }

    .colum{
      width: 50px;
      length:auto;
    }
    #test{
      position: absolute;
      top: 0px;
      left: 300px;
      width: 100px;
      height:300px;
      background-color: white;
      display: none;
    }
div#circle{
  fill: white;

}
