.box {
  width: auto;
  height: 800px;
}

.android {
  position: fixed;
  bottom: 410px;
  right: 25px;
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
  transform: rotate(20deg);
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;

}

.apple {
  position: fixed;
  bottom: 30px;
  left: 25px;
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
  transform: rotate(20deg);
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.linux {
  position: fixed;
  bottom: 210px;
  left: 170px;
  -ms-transform: rotate(-25deg); /* IE 9 */
  -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
  transform: rotate(-25deg);
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.freebsd {
  position: fixed;
  bottom: 20px;
  right: 60px;
  -ms-transform: rotate(-25deg); /* IE 9 */
  -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
  transform: rotate(-25deg);
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.windows {
  position: fixed;
  bottom: 430px;
  left: 17px;
  -ms-transform: rotate(-25deg); /* IE 9 */
  -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
  transform: rotate(-25deg);
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.ubuntu {
  position: fixed;
  bottom: 210px;
  right: 250px;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.background {
  background-image: url("page1.png");
  width: 1370px;
  height: 800px;
  margin: auto;
  /*opacity: 0.6;*/
  position: relative;
  filter: blur(2px);
}

.welcome {
  position: fixed;
  text-align: center;
  font-size: 2em;
  position: fixed;
  text-shadow: 2px 4px gray;
  top: 0%;
  left: 17%;
  width: auto;
  height: auto;
  color: #4df6ff;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 1;
  filter: url(#cracked)
  /*border: 1px solid white;*/
}

.btn {
  /*margin: 10em 5em 0 25em;*/
  position: fixed;
  top: 55%;
  left: 32%;
  width: auto;
  height: auto;
}
.btn button {
  background:    #999;
  background:    -webkit-linear-gradient(#000, #999 50%, #000);
  background:    linear-gradient(#000, #999 50%, #000);
  border:        3px solid #0ff;
  border-radius: 999px;
  box-shadow:    1px 0 0 0 #444;
  color:         white;
  display:       inline-block;
  padding:       8px 26px;
  font:          normal 700 50px/1 'Helvetica Neue', sans-serif;
  text-align:    center;
  text-shadow:   2px 2px 0 #000;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;

}

.btn button:hover {
  background-color: darkgray;
  color: #0ff;
  -webkit-filter: blur(5px);
}

.home {
  /*background-image: url("computer4.jpg");*/
  margin: auto;
  width: 1370px;
  height: 800px;
  border: 1px solid black;
  background-color: black;
}
.home_img img {
  width: 50px;
  height: 60px;
  float: left;
  cursor: pointer;
  opacity: 0.5;
  margin: 0.1em;
}
.home_img img:hover {
  opacity: 1;
}
.title h2 {
  text-align: center;
  top: -45px;
  left: 450px;
  font-size: 3em;
  font-family: 'Helvetica Neue', sans-serif;
  position: relative;
  color: black;
  border: 1px solid black;
  border-radius: 0.5em;
  width: 500px;
  height: 70px;
  background-color: darkgray;
  color: white;
}
.title {
  width: auto;
  height: 35px;
  border-bottom: 2px solid white;
}
.score {
  /*border: 1px solid white;*/
  float: right;
  /*background-color: grey;*/
  top: -160px;
  left: -5px;
  font-family: 'Helvetica Neue', sans-serif;
  position: relative;
}
.score  tr, td {
  border: 1px solid black;
  border-radius: 0.5em;
  font-size: 1.3em;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: grey;
  color: white;

}


/*body{
  background-color:black;
}
  .mainConatiner{

  }
  .board{
    position: relative;
    width: 1000px;
    height: 800px;
    border: 1px solid black;
    margin: 0 auto;
    background-image: url("back3.jpg");
  }
  .gameBoard{
      position: relative;
      width: 500px;
      height: auto;

      background-color: rgba(0,0, 0, 0.5);
      margin: 0 auto;
  }
  .header{
    width: auto;
    height: 70px;
  }
  .cells{
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0,0, 0, 0.5);
    border: 1px solid rgba(50,50, 50, 0.5);
  }
  .cellsImg{
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;

  }
  .header{
    width: auto;
    height: 70px;
    background-color: rgba(50,50, 50, 0.5);
  }
  .sound{
    font-size: 2em;
    float: right;
  }*/


  body{
    background-color:black;
  }
    .mainConatiner{
      top: -700px;
      position: relative;
      width: auto;
      height: 500px;
    }
    .board{
      position: relative;
      width: 1000px;
      height: 800px;
      border: 1px solid black;
      margin: 0 auto;
      background-image: url("computer3.jpeg");
      background-size: 1000px 800px;
      background-repeat: no-repeat;
      /*border: 1px solid white;*/


    }
    .gameBoard{

        position: relative;
        width: 500px;
        height: auto;
        background-color: rgba(0,0, 0, 0.5);
        margin: 0 auto;
        left: 90px;
        bottom: 90px;

    }
    .header{
      width: auto;
      height: 70px;
      margin-bottom:90px;
    }
    .cells{
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      background-color: rgba(0,0, 0, 0.5);
      border: 1px solid rgba(50,50, 50, 0.5);
      transition:.1s;
      z-index: 3;
    }
    .cellsTodelete{
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      background-color: rgba(0,0, 0, 0.5);
      border: 1px solid rgba(50,50, 50, 0.5);
      z-index: 1;

    }
    .cellsImg{
      width: 40px;
      height: 40px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;

    }
    .header{
      width: auto;
      height: 70px;
      background-color: rgba(50,50, 50, 0.5);
    }
    .sound{
      font-size: 2em;
      float: right;
    }

    .colum{
      width: 50px;
      length:auto;
    }
    #test{
      position: absolute;
      top: 0px;
      left: 300px;
      width: 100px;
      height:300px;
      background-color: white;
      display: none;
    }
div#circle{
  fill: white;

}
